In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV, cross_val_score
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

In [9]:
train = pd.read_csv('training.csv')
test = pd.read_csv('test_.csv')

In [10]:
train.shape

(3464, 3)

In [11]:
test.shape

(1360, 2)

In [12]:
df = pd.concat([train,test])

In [13]:
df[3462:]

        id  category                                               text
3462  4854       1.0  6787 3917 4017 5573 5979 4457 4108 1226 4332 1...
3463  4855       1.0  6787 636 4017 8618 5941 7410 1352 5239 753 646...
0     3729       NaN  2705 4888 5050 5815 2472 5157 652 2117 2110 32...
1     3732       NaN  389 4978 315 5178 513 5249 5853 3267 315 3891 ...
2     3761       NaN  4478 4231 4858 2638 4231 867 371 686 4888 4179...
...    ...       ...                                                ...
1355   311       NaN  3163 4030 3892 3405 1470 2893 3163 4372 4151 3...
1356   324       NaN  2336 5820 5775 5853 1392 2336 3777 5655 1355 2...
1357   329       NaN  123 4888 1158 5566 2025 2703 1241 652 4030 202...
1358   342       NaN  5120 3886 5920 5289 750 4304 2283 3747 2118 32...
1359   352       NaN  2808 1703 2496 4362 2443 4666 497 4677 2543 56...

[1362 rows x 3 columns]

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
vectorizer = CountVectorizer()
counts = vectorizer.fit_transform(df.text)
vector = pd.DataFrame(counts.todense(),columns=vectorizer.get_feature_names())
vector.shape

(4824, 8593)

In [15]:
vector

,10,100,1000,1001,1002,1003,1004,1005,1006,1007,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4819,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4820,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4821,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4822,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4823,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df.shape

(4824, 3)

In [17]:
df.reset_index(drop = True)

       id  category                                               text
0     959       0.0    5573 1189 4017 1207 4768 8542 17 1189 5085 5773
1     994       0.0       6315 7507 6700 4742 1944 2692 3647 4413 6700
2     995       0.0                      5015 8067 5335 1615 7957 5773
3     996       0.0  2925 7199 1994 4647 7455 5773 4518 2734 2807 8...
4     997       0.0                  7136 1207 6781 237 4971 3669 6193
...   ...       ...                                                ...
4819  311       NaN  3163 4030 3892 3405 1470 2893 3163 4372 4151 3...
4820  324       NaN  2336 5820 5775 5853 1392 2336 3777 5655 1355 2...
4821  329       NaN  123 4888 1158 5566 2025 2703 1241 652 4030 202...
4822  342       NaN  5120 3886 5920 5289 750 4304 2283 3747 2118 32...
4823  352       NaN  2808 1703 2496 4362 2443 4666 497 4677 2543 56...

[4824 rows x 3 columns]

In [18]:
vector.reset_index(drop = True)

,10,100,1000,1001,1002,1003,1004,1005,1006,1007,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4819,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4820,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4821,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4822,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4823,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
train_vec = vector[:3464]

In [20]:
train_vec

,10,100,1000,1001,1002,1003,1004,1005,1006,1007,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3459,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3460,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3461,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3462,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
test_vec = vector[3464:]

In [22]:
test_vec

,10,100,1000,1001,1002,1003,1004,1005,1006,1007,...,990,991,992,993,994,995,996,997,998,999
3464,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3465,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3466,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3467,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3468,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4819,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4820,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4821,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4822,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4823,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
train_df = pd.concat([train,train_vec], axis = 1)

In [24]:
train_df

,id,category,text,10,100,1000,1001,1002,1003,1004,...,990,991,992,993,994,995,996,997,998,999
0,959,0,5573 1189 4017 1207 4768 8542 17 1189 5085 5773,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,994,0,6315 7507 6700 4742 1944 2692 3647 4413 6700,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,995,0,5015 8067 5335 1615 7957 5773,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,996,0,2925 7199 1994 4647 7455 5773 4518 2734 2807 8...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,997,0,7136 1207 6781 237 4971 3669 6193,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3459,4851,1,6787 5435 3515 3324 3477 7337 4234 4328 7606 5...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3460,4852,1,6787 5983 5922 1577 5658 3718 1530 4801 5658 7...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3461,4853,1,6787 3359 4108 5007 3477 4909 5342 224 6663 64...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3462,4854,1,6787 3917 4017 5573 5979 4457 4108 1226 4332 1...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3463,4855,1,6787 636 4017 8618 5941 7410 1352 5239 753 646...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
from sklearn.utils import resample

# Separate majority and minority classes
df_majority = train_df[train_df.category==0]
df_minority = train_df[train_df.category==1]
 
# Downsample majority class
df_majority_downsampled = resample(df_majority, 
                                 replace=False,    # sample without replacement
                                 n_samples=len(df_minority),     # to match minority class
                                 random_state=123) # reproducible results
 
# Combine minority class with downsampled majority class
dff = pd.concat([df_majority_downsampled, df_minority])
 
# Display new class counts
dff.category.value_counts(normalize = True)
dff.reset_index(inplace = True)
dff.drop(['index'], axis = 1, inplace = True)

In [26]:
X = dff.drop(['category','id','text'], axis = 1)
y = dff['category']

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state = 42)

In [28]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train,y_train)
lr.score(x_test,y_test)*100

91.42857142857143

In [29]:
y_pred = lr.predict(x_test)

In [30]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.91      0.91      0.91        34
           1       0.92      0.92      0.92        36

    accuracy                           0.91        70
   macro avg       0.91      0.91      0.91        70
weighted avg       0.91      0.91      0.91        70

In [31]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[31  3]
 [ 3 33]]

In [40]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X,y)
lr.score(X,y)

1.0

In [42]:
predictions = lr.predict(test_vec)

In [47]:
predict = pd.Series(predictions)

In [48]:
predict.value_counts()

0    1359
1       1
dtype: int64

In [50]:
predict.to_csv('predictions.csv')

In [51]:
from sklearn.tree import DecisionTreeClassifier

In [52]:
dt = DecisionTreeClassifier(random_state = 42)

In [74]:
dt.fit(X,y)

DecisionTreeClassifier(random_state=42)

In [54]:
dt.score(x_test,y_test)

0.8857142857142857

In [55]:
dt.predict(x_test)

array([1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0], dtype=int64)

In [57]:
y_pred

array([1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0], dtype=int64)

In [75]:
dt_pred = pd.Series(dt.predict(test_vec))

In [76]:
dt_pred.value_counts()

0    1350
1      10
dtype: int64

In [62]:
from sklearn.ensemble import RandomForestClassifier

In [77]:
rd = RandomForestClassifier().fit(X,y)

In [78]:
rd.score(x_test,y_test)

1.0

In [79]:
rd_pred = pd.Series(rd.predict(test_vec))
rd_pred.value_counts()

0    1359
1       1
dtype: int64

In [67]:
from sklearn.ensemble import AdaBoostClassifier

In [113]:
ada = AdaBoostClassifier().fit(X,y)

In [114]:
ada.score(x_test,y_test)

1.0

In [115]:
ada_pred = pd.Series(ada.predict(test_vec))
ada_pred.value_counts()

0    1347
1      13
dtype: int64

In [116]:
ada_pred.to_csv('ada_pred.csv')

In [71]:
from xgboost import XGBClassifier

In [82]:
xgb = XGBClassifier().fit(X,y)
xgb.score(x_test,y_test)

0.9857142857142858

In [83]:
xgb_pred = pd.Series(xgb.predict(test_vec))
xgb_pred.value_counts()

0    1360
dtype: int64

In [66]:
def cross_sc(model):
    score = cross_val_score(model, x_train,y_train,cv = 10, scoring='accuracy')
    print('Accuracy_mean: ', np.mean(score))
    print('STD: ', np.std(score))

In [78]:
def rand_cv(model,X_train,y_train,param_grid):
    rand = RandomizedSearchCV(estimator=model,param_distributions=param_grid,scoring='accuracy',n_iter=20,verbose=1,cv=5, n_jobs=-1)
    rand_result = rand.fit(X_train, y_train)
    print('Best Score: ', rand_result.best_score_)
    print('Best Params: ', rand_result.best_params_)

In [79]:
def grid_cv(model,X_train,y_train,param_grid):
    grid = GridSearchCV(estimator=model,param_grid=param_grid,scoring='accuracy',verbose=1,cv=5, n_jobs=-1)
    grid_result = grid.fit(X_train, y_train)
    print('Best Score: ', grid_result.best_score_)
    print('Best Params: ', grid_result.best_params_)

In [75]:
def scrd(model):
    cols = ['Model','ROC Score', 'Precision Score', 'Recall Score','Accuracy Score','Kappa Score']
    models_report = pd.DataFrame(columns = cols)
    from sklearn import metrics
    model.fit(x_train,y_train)
    y2 = model.predict(x_test)
    tmp1 = pd.Series({'Model': model,
                      'ROC Score' : metrics.roc_auc_score(y_test, y2),
                     'Precision Score': metrics.precision_score(y_test, y2),'Recall Score': metrics.recall_score(y_test,y2),
                     'Accuracy Score': metrics.accuracy_score(y_test, y2),'Kappa Score':metrics.cohen_kappa_score(y_test, y2)})

    model1_report = models_report.append(tmp1, ignore_index = True)
    return model1_report

In [81]:
lr = LogisticRegression().fit(x_train,y_train)

In [44]:
cross_sc(lr)

R2_Mean:  0.94375
STD:  0.07098635432250341

In [45]:
##############

In [54]:
dt = DecisionTreeClassifier(random_state=42)
cross_sc(dt)

R2_Mean:  0.8694852941176471
STD:  0.12645402165777728

In [61]:
param_grid = {'criterion':['gini','entropy'],
              'splitter':['best','random'],
              'max_depth':[1,2,3,4,5],
              'min_samples_split':[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0],
              'min_samples_leaf':[1,2,3,4,5],
              'max_features':[1,2,3,4,5,6,7,8,9,10],
              'max_leaf_nodes':[2,3,4,5,6,7,8,9,10]}

In [62]:
rand_cv(dt,x_train,y_train,param_grid)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    4.1s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    9.3s finished

Best Score:  0.5244318181818182
Best Params:  {'splitter': 'random', 'min_samples_split': 0.5, 'min_samples_leaf': 1, 'max_leaf_nodes': 9, 'max_features': 4, 'max_depth': 5, 'criterion': 'entropy'}

In [70]:
dt = DecisionTreeClassifier(random_state=42,splitter='random',min_samples_split=0.5,min_samples_leaf=1, max_leaf_nodes=9, max_features=4,
                           max_depth=5, criterion='entropy').fit(x_train,y_train)

In [71]:
cross_sc(dt)

Accuracy_mean:  0.5180147058823529
STD:  0.030514705882352944

In [76]:
scrd(dt)

,Model,ROC Score,Precision Score,Recall Score,Accuracy Score,Kappa Score
0,"DecisionTreeClassifier(criterion='entropy', ma...",0.513889,1.0,0.027778,0.5,0.027006

In [82]:
scrd(lr)

,Model,ROC Score,Precision Score,Recall Score,Accuracy Score,Kappa Score
0,LogisticRegression(),0.914216,0.916667,0.916667,0.914286,0.828431

In [84]:
forest = RandomForestClassifier()
forest.fit(x_train,y_train)

RandomForestClassifier()

In [85]:
cross_sc(forest)

Accuracy_mean:  0.9003676470588236
STD:  0.09777545708740266

In [87]:
param_grid = {'criterion':['gini','entropy'],
              'max_depth':[1,2,3,4,5],
              'min_samples_split':[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0],
              'min_samples_leaf':[1,2,3,4,5],
              'max_features':[1,2,3,4,5,6,7,8,9,10],
              'max_leaf_nodes':[1,2,3,4,5,6,7,8,9,10]}

In [88]:
rand_cv(forest,x_train,y_train,param_grid)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    9.8s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   19.8s finished

Best Score:  0.8083333333333333
Best Params:  {'min_samples_split': 0.1, 'min_samples_leaf': 1, 'max_leaf_nodes': 9, 'max_features': 6, 'max_depth': 5, 'criterion': 'gini'}

In [92]:
forest = RandomForestClassifier(min_samples_split = 0.1, min_samples_leaf=1, max_leaf_nodes=9, max_features=6,
                                max_depth=5, criterion='gini').fit(x_train,y_train)

In [93]:
cross_sc(forest)

Accuracy_mean:  0.7823529411764706
STD:  0.13214648930894152

In [94]:
scrd(forest)

,Model,ROC Score,Precision Score,Recall Score,Accuracy Score,Kappa Score
0,"(DecisionTreeClassifier(max_depth=5, max_featu...",0.860294,0.964286,0.75,0.857143,0.715909

In [95]:
ada = AdaBoostClassifier()
cross_sc(ada)

Accuracy_mean:  0.8944852941176471
STD:  0.07466132442605009

In [125]:
param_grid = {'n_estimators':[131,132,133],
              'learning_rate':[0.9,1]}

In [126]:
rand_cv(ada,x_train,y_train,param_grid)

C:\Users\chuda\anaconda3\envs\Rushabh\lib\site-packages\sklearn\model_selection\_search.py:282: UserWarning: The total space of parameters 6 is smaller than n_iter=20. Running 6 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 6 candidates, totalling 30 fits

[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:   48.4s finished

Best Score:  0.9443181818181818
Best Params:  {'n_estimators': 131, 'learning_rate': 1}

In [109]:
ada = AdaBoostClassifier(n_estimators=500, learning_rate=1)
ada.fit(x_train,y_train)

AdaBoostClassifier(learning_rate=1, n_estimators=500)

In [103]:
cross_sc(ada)

Accuracy_mean:  0.93125
STD:  0.07098635432250341

In [104]:
ad_data = scrd(ada)
ad_data

,Model,ROC Score,Precision Score,Recall Score,Accuracy Score,Kappa Score
0,"(DecisionTreeClassifier(max_depth=1, random_st...",0.916667,1.0,0.833333,0.914286,0.829268

In [ ]:
################################3

In [105]:
ada = AdaBoostClassifier(n_estimators=500, learning_rate=1)
ada.fit(X,y)

AdaBoostClassifier(learning_rate=1, n_estimators=500)

In [110]:
predictions = ada.predict(test_vec)

In [111]:
predict = pd.Series(predictions)

In [112]:
predict.value_counts()

0    1360
dtype: int64