In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [78]:
df = pd.read_csv('training.csv')

In [82]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
vectorizer = CountVectorizer()
counts = vectorizer.fit_transform(df.text)
vector = pd.DataFrame(counts.todense(),columns=vectorizer.get_feature_names())
vector.shape
data = pd.concat([df,vector], axis = 1)

In [86]:
from sklearn.utils import resample

# Separate majority and minority classes
df_majority = data[data.category==0]
df_minority = data[data.category==1]
 
# Downsample majority class
df_majority_downsampled = resample(df_majority, 
                                 replace=False,    # sample without replacement
                                 n_samples=len(df_minority),     # to match minority class
                                 random_state=123) # reproducible results
 
# Combine minority class with downsampled majority class
dff = pd.concat([df_majority_downsampled, df_minority])
 
# Display new class counts
dff.category.value_counts(normalize = True)
dff.reset_index(inplace = True)
dff.drop(['index'], axis = 1, inplace = True)

In [87]:
dff

,id,category,text,10,100,1000,1001,1002,1003,1004,...,990,991,992,993,994,995,996,997,998,999
0,2747,0,188 4381 5045 6300 5922 6551 182 5773,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1804,0,5373 1179 569 237 6013 8155 5658 1179 1493 567...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2487,0,1520 3647 3581 7924 2266 6300 5922 6551 3284 5...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4602,0,4904 5071 4487 3078 326 7957 4908 7957 3078,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2451,0,590 2812 6084 972 5773 7152 3968 154 1041 5658...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,4851,1,6787 5435 3515 3324 3477 7337 4234 4328 7606 5...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
228,4852,1,6787 5983 5922 1577 5658 3718 1530 4801 5658 7...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
229,4853,1,6787 3359 4108 5007 3477 4909 5342 224 6663 64...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
230,4854,1,6787 3917 4017 5573 5979 4457 4108 1226 4332 1...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
231,4855,1,6787 636 4017 8618 5941 7410 1352 5239 753 646...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
dff.drop(['index'], axis = 1, inplace = True)

In [49]:
#from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [50]:
#vectorizer = CountVectorizer()
#counts = vectorizer.fit_transform(dff.text)

In [51]:
#vector = pd.DataFrame(counts.todense(),columns=vectorizer.get_feature_names())
#vector.shape

(232, 1816)

In [52]:
dff.head()

     id  category                                               text
0  2747         0              188 4381 5045 6300 5922 6551 182 5773
1  1804         0  5373 1179 569 237 6013 8155 5658 1179 1493 567...
2  2487         0  1520 3647 3581 7924 2266 6300 5922 6551 3284 5...
3  4602         0        4904 5071 4487 3078 326 7957 4908 7957 3078
4  2451         0  590 2812 6084 972 5773 7152 3968 154 1041 5658...

In [53]:
data = pd.concat([dff,vector], axis = 1)

In [99]:
X = dff.drop(['category','id','text'], axis = 1)

In [100]:
X.shape

(232, 8484)

In [101]:
y = dff['category']

In [102]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state = 42)

In [103]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train,y_train)
lr.score(x_test,y_test)*100

91.42857142857143

In [104]:
y_pred = lr.predict(x_test)

In [105]:
y_test

219    1
66     0
9      0
170    1
15     0
      ..
29     0
153    1
68     0
75     0
5      0
Name: category, Length: 70, dtype: int64

In [106]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.91      0.91      0.91        34
           1       0.92      0.92      0.92        36

    accuracy                           0.91        70
   macro avg       0.91      0.91      0.91        70
weighted avg       0.91      0.91      0.91        70

In [107]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[31  3]
 [ 3 33]]

In [70]:
test = pd.read_csv('test_.csv')

In [75]:
vectorizer = CountVectorizer()
count = vectorizer.fit_transform(test.text)

In [76]:
vector_test = pd.DataFrame(count.todense(),columns=vectorizer.get_feature_names())
vector_test.shape

(1360, 5762)

In [108]:
vector_test.shape[1]

5762

In [110]:
X.shape[1] - vector_test.shape[1]

2722