In [2]:
#importing modules
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\chuda\anaconda3\envs\Rushabh\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [4]:
#importing data
df = pd.read_csv('training_data.csv')
dff = pd.read_csv('test_data.csv')

In [5]:
df.head()

,Row_ID,Application,Device,Launch_Year,Domain,Developer_comapny,Indian_Sales,China_Sales,Korea_Sales,Other_Sales,Global_Sales,ScorebyCritic,No_ofCritics,ScorebyUser,No_ofUsers,Developer,Overall_Rating
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(14748, 17)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14748 entries, 0 to 14747
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Row_ID             14748 non-null  int64
 1   Application        14746 non-null  object
 2   Device             14748 non-null  object
 3   Launch_Year        14517 non-null  float64
 4   Domain             14746 non-null  object
 5   Developer_comapny  14707 non-null  object
 6   Indian_Sales       14748 non-null  float64
 7   China_Sales        14748 non-null  float64
 8   Korea_Sales        14748 non-null  float64
 9   Other_Sales        14748 non-null  float64
 10  Global_Sales       14748 non-null  float64
 11  ScorebyCritic      7526 non-null   float64
 12  No_ofCritics       7526 non-null   float64
 13  ScorebyUser        9166 non-null   object
 14  No_ofUsers         7047 non-null   float64
 15  Developer          9226 non-null   object
 16  Overall_Rating     9118 non-null   object
dtypes: float64(9), int64(1), object(7)
memory usage: 1.9+ MB

In [8]:
#checking for na
df.isna().mean()*100

Row_ID                0.000000
Application           0.013561
Device                0.000000
Launch_Year           1.566314
Domain                0.013561
Developer_comapny     0.278004
Indian_Sales          0.000000
China_Sales           0.000000
Korea_Sales           0.000000
Other_Sales           0.000000
Global_Sales          0.000000
ScorebyCritic        48.969352
No_ofCritics         48.969352
ScorebyUser          37.849200
No_ofUsers           52.217250
Developer            37.442365
Overall_Rating       38.174668
dtype: float64

In [9]:
#removing columns highest null values
df = df.drop(['ScorebyCritic','No_ofCritics','ScorebyUser','No_ofUsers','Developer','Overall_Rating'], axis = 1)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14748 entries, 0 to 14747
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Row_ID             14748 non-null  int64
 1   Application        14746 non-null  object
 2   Device             14748 non-null  object
 3   Launch_Year        14517 non-null  float64
 4   Domain             14746 non-null  object
 5   Developer_comapny  14707 non-null  object
 6   Indian_Sales       14748 non-null  float64
 7   China_Sales        14748 non-null  float64
 8   Korea_Sales        14748 non-null  float64
 9   Other_Sales        14748 non-null  float64
 10  Global_Sales       14748 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.2+ MB

In [11]:
#removing unwanted columns
df = df.drop(['Row_ID','Application','Launch_Year','Developer_comapny'], axis = 1)

In [12]:
df.dropna(inplace = True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14746 entries, 0 to 14747
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Device        14746 non-null  object
 1   Domain        14746 non-null  object
 2   Indian_Sales  14746 non-null  float64
 3   China_Sales   14746 non-null  float64
 4   Korea_Sales   14746 non-null  float64
 5   Other_Sales   14746 non-null  float64
 6   Global_Sales  14746 non-null  float64
dtypes: float64(5), object(2)
memory usage: 921.6+ KB

In [14]:
df.head()

,Device,Domain,Indian_Sales,China_Sales,Korea_Sales,Other_Sales,Global_Sales
0,Wii,Sports,41.36,28.96,3.77,8.45,82.53
1,NES,Platform,29.08,3.58,6.81,0.77,40.24
2,Wii,Racing,15.68,12.76,3.79,3.29,35.52
3,Wii,Sports,15.61,10.93,3.28,2.95,32.77
4,GB,Role-Playing,11.27,8.89,10.22,1.00,31.37

In [17]:
#defining X and Y
X = df.drop(['Global_Sales'], axis = 1)
y = df['Global_Sales']

In [18]:
test_x = dff[X.columns]

In [19]:
test_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2018 entries, 0 to 2017
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Device        2018 non-null   object
 1   Domain        2018 non-null   object
 2   Indian_Sales  2018 non-null   float64
 3   China_Sales   2018 non-null   float64
 4   Korea_Sales   2018 non-null   float64
 5   Other_Sales   2018 non-null   float64
dtypes: float64(4), object(2)
memory usage: 94.7+ KB

In [20]:

X['Device'].replace('GC','a', inplace  = True)
test_x['Device'].replace('GC','a', inplace  = True)

C:\Users\chuda\anaconda3\envs\Rushabh\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [21]:
#applying LabelEncoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['Device'] = le.fit_transform(X['Device'])
test_x['Device'] = le.transform(test_x['Device'])

C:\Users\chuda\anaconda3\envs\Rushabh\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [22]:
X['Domain'] = le.fit_transform(X['Domain'])
test_x['Domain'] = le.transform(test_x['Domain'])

C:\Users\chuda\anaconda3\envs\Rushabh\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
#splitting in train and test data
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state = 42)

In [24]:
#using linear regression
lr = LinearRegression().fit(x_train,y_train)

In [25]:
#checking score
lr.score(x_test,y_test)

0.9999896594468015

In [32]:
#checking RMSE,MSE,MAE,r2
lr_pred = lr.predict(x_test)
print('RMSE :',np.sqrt(metrics.mean_squared_error(y_test,lr_pred)))
print('MSE :',(metrics.mean_squared_error(y_test,lr_pred)))
print('MAE :',(metrics.mean_absolute_error(y_test,lr_pred)))
print('R_Square :',(metrics.r2_score(y_test,lr_pred)))

RMSE : 0.005378844468966844
MSE : 2.8931967821335214e-05
MAE : 0.0030460755989904337
R_Square : 0.9999896594468015

In [33]:
#fitting X and y in model
lrr = LinearRegression().fit(X,y)
lrr_pred = lrr.predict(test_x)

In [35]:
lrr_pred[:10]

array([0.02028761, 0.02026631, 0.03025881, 0.02026655, 0.02027253,
       0.02027586, 0.03028324, 0.02027698, 0.02028587, 0.02027461])

In [34]:
#saving predictions in csv
pd.Series(lrr_pred).to_csv('Attempt1(Linear_Regression).csv')